.leftside {
    width: 100%;
    margin-bottom: 10px;
    height: 473px;
}

.grid {
    width: 100%;
}

.handlesData {
    text-align: center
}
table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}
  